<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cesta!</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body class="bg-gray-400 p-4 font-sans flex flex-col gap-8">
		<ul class="list-disc list-inside">
			<li><a href="ec8ee92d-1cdf-429e-b41c-46391dcd5e49.html">domcek</a></li>
			<li><a href="ec8ee92d-1cdf-429e-b41c-46391dcd5e49-solve.html">domcek solve</a></li>
			<br />
			<li><a href="f83d3d52-10c2-4a4c-8831-0f3ad8618c58.html">kvet</a></li>
			<li><a href="f83d3d52-10c2-4a4c-8831-0f3ad8618c58-solve.html">kvet solve</a></li>
			<br />
			<li><a href="47fb00d9-a497-4699-92ea-865b9e159bd2.html">stopshop</a></li>
			<li><a href="47fb00d9-a497-4699-92ea-865b9e159bd2-solve.html">stopshop solve</a></li>
			<br />
			<li><a href="1556c91e-9b55-4582-95b6-698b53cb927f.html">fontana</a></li>
			<li><a href="1556c91e-9b55-4582-95b6-698b53cb927f-solve.html">fontana solve</a></li>
			<br />
			<li><a href="d5506481-c9dd-4073-babe-d79d135de097.html">verex</a></li>
			<li><a href="d5506481-c9dd-4073-babe-d79d135de097-solve.html">verex solve</a></li>
			<br />
			<li><a href="final.html">final</a></li>
			<li><a href="final-place.html">final solve</a></li>
		</ul>
	</body>
</html>
